.task-options-container
{
  display: grid;
  grid-template-rows: 30px 135px 25px;
  grid-template-areas:
    "task-options-header"
    "task-options-control"
    "task-options-submit";

  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
  padding: 24px;
}

.task-options-header
{
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  grid-template-areas:
    "task-name task-sdesc";

  grid-area: task-options-header;
}

.task-name
{
  grid-area: task-name;
}

.task-name-input
{
  height: 26px;
  width: 100%;
  margin-top: 2px;
  box-sizing: border-box;
}

.task-sdesc
{
  grid-area: task-sdesc;
  margin-left: 5px;
}

.task-sdesc-input
{
  height: 26px;
  width: 100%;
  margin-top: 2px;
  box-sizing: border-box;
}

.task-options-control
{
  display: grid;
  grid-template-columns: 3fr .3fr;
  grid-template-areas:
    "task-ldesc task-ctrl";

  grid-area: task-options-control;
  margin: 5px 0;
}

.task-ldesc
{
  grid-area: task-ldesc;
  margin-right: 5px;
}

.task-ldesc-input
{
  height: 100%;
  width: 100%;
  resize: none;
  box-sizing: border-box;
}

.task-ctrl
{
  display: grid;
  grid-template-rows: 38px 38px 38px;
  grid-gap: 5px;
  grid-template-areas:
    "task-category"
    "task-rank"
    "task-status";

  grid-area: task-ctrl;
}

.task-category
{
  grid-area: task-category;
  text-align: right;
  padding-top: 8px;
}

.task-category-input
{
  height: 25px;
  width: 89px;
}

.task-rank
{
  grid-area: task-rank;
  text-align: right;
  padding-top: 8px;
}

.task-rank-input
{
  width: 85px;
}

.task-status
{
  grid-area: task-status;
  text-align: right;
  padding-top: 8px;
}

.task-status-input
{
  height: 25px;
}

.task-options-submit
{
  display: grid;
  grid-template-columns: 3fr .3fr;
  grid-template-areas:
    ". task-submit";

  grid-area: task-options-submit;
}

.task-submit
{
  grid-area: task-submit;
  text-align: right;
}
